# Logistic Regression samole code to understand Git and GitHub funcationality.

## Loading the appropriate packages

Nothing new here. We will import logistic regression class along with some helpers from scikit-learn.

In [ ]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go

Let's turn off the scientific notation for floating point numbers.

In [ ]:
np.set_printoptions(suppress=True)

## Loading and examining the data

We will load our data from a CSV file and put it in a pandas an object of the `DataFrame` class.

This dataset is the breast cancer Wisconsin (diagnostic) dataset which contains 30 different features computed from a images of a fine needle aspirate (FNA) of breast masses for 569 patients with each example labeled as being a _benign_ or _malignant_ mass.

In [ ]:
df_30 = pd.read_csv('data.csv')

Let's take a look at the data:

In [ ]:
df_30

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [ ]:
df_30.drop(['id'],axis=1,inplace=True)
df_30

    diagnosis  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0           M        17.99  ...                  0.11890          NaN
1           M        20.57  ...                  0.08902          NaN
2           M        19.69  ...                  0.08758          NaN
3           M        11.42  ...                  0.17300          NaN
4           M        20.29  ...                  0.07678          NaN
..        ...          ...  ...                      ...          ...
564         M        21.56  ...                  0.07115          NaN
565         M        20.13  ...                  0.06637          NaN
566         M        16.60  ...                  0.07820          NaN
567         M        20.60  ...                  0.12400          NaN
568         B         7.76  ...                  0.07039          NaN

[569 rows x 32 columns]

In [ ]:
df_30.loc[df_30.duplicated()]

Empty DataFrame
Columns: [diagnosis, radius_mean, texture_mean, perimeter_mean, area_mean, smoothness_mean, compactness_mean, concavity_mean, concave points_mean, symmetry_mean, fractal_dimension_mean, radius_se, texture_se, perimeter_se, area_se, smoothness_se, compactness_se, concavity_se, concave points_se, symmetry_se, fractal_dimension_se, radius_worst, texture_worst, perimeter_worst, area_worst, smoothness_worst, compactness_worst, concavity_worst, concave points_worst, symmetry_worst, fractal_dimension_worst, Unnamed: 32]
Index: []

We can also create $\{-1, +1\}$ labels for our data from `y_text` and assign it to (vector) variable `y`. We use `LabelEncoder` from scikit-learn again to transform labels into -1s or +1s:

In [ ]:

df_30['diagnosis'] = (2* LabelEncoder().fit_transform(df_30['diagnosis'])) -1
df_30

     diagnosis  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0            1        17.99  ...                  0.11890          NaN
1            1        20.57  ...                  0.08902          NaN
2            1        19.69  ...                  0.08758          NaN
3            1        11.42  ...                  0.17300          NaN
4            1        20.29  ...                  0.07678          NaN
..         ...          ...  ...                      ...          ...
564          1        21.56  ...                  0.07115          NaN
565          1        20.13  ...                  0.06637          NaN
566          1        16.60  ...                  0.07820          NaN
567          1        20.60  ...                  0.12400          NaN
568         -1         7.76  ...                  0.07039          NaN

[569 rows x 32 columns]

In [ ]:
df_30.columns

Index(['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [ ]:
X = df_30.drop(columns=['diagnosis', 'Unnamed: 32'])
y = df_30.diagnosis
print(X)
print(y)

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0          17.99         10.38  ...          0.4601                  0.11890
1          20.57         17.77  ...          0.2750                  0.08902
2          19.69         21.25  ...          0.3613                  0.08758
3          11.42         20.38  ...          0.6638                  0.17300
4          20.29         14.34  ...          0.2364                  0.07678
..           ...           ...  ...             ...                      ...
564        21.56         22.39  ...          0.2060                  0.07115
565        20.13         28.25  ...          0.2572                  0.06637
566        16.60         28.08  ...          0.2218                  0.07820
567        20.60         29.33  ...          0.4087                  0.12400
568         7.76         24.54  ...          0.2871                  0.07039

[569 rows x 30 columns]
0      1
1      1
2      1
3      1
4      1
      ..
564    1
565    1
566    1
567    1
568   -1
Name: diagnosis, Length: 569, dtype: int64

## Splitting data

Now, let's split our data into training, validation and test sets. We don't need validation data in this example and we won't be doing model selection here. So, let's use 70% and 30% for training test data, repectively.

In [ ]:
(X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size=0.3, random_state=0)

## Building and visualizing a logistic regression model

Let's build our logistic regression model then by creating an object of the `LogisticRegression` class and assign the name `logreg` to the resulting object. 

You can see the documentation for `LogisticRegression` here:

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

Go ahead and do that now:

In [ ]:
logreg = LogisticRegression()

Now, fit `logreg` to `X_train` and `y_train`:

In [ ]:
logreg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

You will get a summary for the model:

> LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
>           intercept_scaling=1, max_iter=100, multi_class='warn',
>           n_jobs=None, penalty='l2', random_state=None, solver='warn',
>           tol=0.0001, verbose=0, warm_start=False)

* You may also get a warning because you have not explicitly set a solver and that is going to change in newer versions of scikit-learn. Nothing you should be worried about here.

Let's visualize the surface generated by our logistic regression model. First, we need to generate a number of points required for creating a visualization of the decision surface:

We can see that logistic regression has fit a surface to our data that is has the logistic (or Sigmoid) function as its intersection.

## Assessing the performance

Let's check our accuracies next. First, the training accuracy. For that let's get the predictions of training data. Predict `yhat_train` by `logreg` on `X_train`:

In [ ]:
### begin your code here (1 line).
yhat_train = logreg.predict(X_train)
### end your code here.

Let's measure the accuracy:

In [ ]:
accuracy_score(yhat_train, y_train)

0.9447236180904522

Let's check accuracy on the test data. Predict `yhat_test`:

In [ ]:
### begin your code here (1 line).
yhat_test = logreg.predict(X_test)
### end your code here.
accuracy_score(yhat_test, y_test)

0.9590643274853801

We have better performance on test data than on training data! But that's just random and it does not mean that we have perfectly generalized and have no overfitting: that is theoretically impossible!